#*#
*~
.gdb_history
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
core
depcomp
install-sh
missing
stamp-h1
ssdpd.service
