.debhelper
autoreconf.after
autoreconf.before
debhelper-build-stamp
files
ssdpd.debhelper.log
ssdpd.substvars
ssdpd.postinst.debhelper
ssdpd.postrm.debhelper
ssdpd.prerm.debhelper
ssdpd/*
ssdp-scan.debhelper.log
ssdp-scan.substvars
ssdp-scan.postinst.debhelper
ssdp-scan.postrm.debhelper
ssdp-scan.prerm.debhelper
ssdp-scan/
tmp/
