#!/usr/bin/make -f
# export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with=autoreconf,systemd

override_dh_auto_install:
	dh_auto_install
	rm -f debian/ssdp-responder/usr/share/doc/ssdp-responder/LICENSE

override_dh_installinit:
	dh_systemd_enable
	dh_installinit
	dh_systemd_start
